<div>
  <p>
    <strong>Title:</strong>
    <%= lecture.title %>
  </p>

  <p>
    <strong>Lecture start:</strong>
    <%= lecture.lecture_start %>
  </p>

  <p>
    <strong>Lecture end:</strong>
    <%= lecture.lecture_end %>
  </p>


</div>
