<div>
  <p>
    <strong>Title:</strong>
    <%= subject.title %>
  </p>

  <p>
    <strong>ID:</strong>
    <%= subject.id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= subject.description %>
  </p>


</div>
